<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.zjcbe.domain.mapper.dc.DcVideoRecgMapper">
    <resultMap id="BaseResultMap" type="com.zhuanjingkj.zjcbe.commondata.po.VideoStreamPO" >
        <result column="streamId" property="videoStreamId" />
    </resultMap>

    <select id="getVideoStreamIds" resultMap="BaseResultMap">
        select distinct streamId
        from vehicle_images
        where imageType is null and uploadBy=#{accountId}
    </select>
</mapper>